<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602270499807-lcjrfvbpm5qeav5afd9u1lmu0b2asbni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602270499807-lcjrfvbpm5qeav5afd9u1lmu0b2asbni</string>
	<key>API_KEY</key>
	<string>AIzaSyDzfW_LuWkIbjp0xHLvKwg7aOoGxX-1cdc</string>
	<key>GCM_SENDER_ID</key>
	<string>602270499807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.idrive</string>
	<key>PROJECT_ID</key>
	<string>idrive-b6298</string>
	<key>STORAGE_BUCKET</key>
	<string>idrive-b6298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602270499807:ios:da1aea933f79d2b005ba6a</string>
</dict>
</plist>